---
import Section from "@/components/Section.astro";
import { skills } from "@cv";
import javascript from "@icons/javascript.astro";
import typescript from "@icons/typescript.astro";
import reactjs from "@icons/reactjs.astro";
import nodejs from "@icons/nodejs.astro";
import sql from "@icons/sql.astro";
import mysql from "@icons/mysql.astro";
import git from "@icons/git.astro";
import github from "@icons/GitHub.astro";
import nextjs from "@icons/nextjs.astro";
import flutter from "@icons/flutter.astro";
import java from "@icons/java.astro";
import xml from "@icons/xml.astro";
import expressjs from "@icons/expressjs.astro";
import astro from "@icons/astro.astro";
import mongodb from "@icons/mongodb.astro";
import postman from "@icons/postman.astro";
import graphql from "@icons/graphql.astro";
import vercel from "@icons/vercel.astro";

const SKILLS_ICONS: Record<string, any> = {
  javascript,
  typescript,
  reactjs,
  nodejs,
  sql,
  mysql,
  git,
  github,
  nextjs,
  flutter,
  java,
  xml,
  expressjs,
  astro,
  mongodb,
  postman,
  graphql,
  vercel,
};
---

<Section title="Skills">
  <ul>
    {
      Object.entries(skills).map(([category, items]) => {
        return (
          <article>
            <header>{category.toUpperCase()}</header>
            <footer>
              {items.map(({ name }) => {
                const Icon = SKILLS_ICONS[name.toLowerCase()];

                return (
                  <li>
                    {Icon && <Icon />} <span class="skillList">{name}</span>
                  </li>
                );
              })}
            </footer>
          </article>
        );
      })
    }
  </ul>
</Section>
<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.4rem 0.4rem;
  }

  article {
    border-radius: 8px;
    border: 1px solid #f2f2f2;
    gap: 1rem;
    display: grid;
    padding: 1rem;
  }

  footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 4px;
    font-size: 0.6rem;
  }
</style>
